# .NET Core
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
.vscode/
.idea/
*.sln.iml

# React
node_modules/
/build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OKTA
.okta.env






